<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ToDo</title>
        <link rel="stylesheet" href="css/semantic.css"  media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
        <script type="text/javascript" src="js/vue1.js"></script>
        <style type="text/css">
            body {
            background-color: #FDFDFD;
            }
            .ui.very.padded.segment.container {
            width: 500px;
            position: relative;
            transform: translate(0,-50%);
            top:30%;
            }
            .remove.icon {
            color: #EAEBEB;
            }
            .ui.very.padded.container {
            width: 500px;
            }
        </style>
    </head>
    <body id="app">
        <div class="ui very padded container">
            <div class="ui text menu">
                <div class="header item" style="font-size:20px;">
                    <i class="checkmark box icon"></i>
                    麻瓜 To Do
                </div>
            </div>
            <div class="ui divider">
        </div>


        </div>
        <div class="ui very padded segment container">
            <div class="ui action fluid input">
                <input type="text" v-model="todo" placeholder="添加新任务">
                <button v-on:click="addTask(todo)" class="ui icon basic button">
                    <i class="plus icon" style="color:#666666"></i>
                </button>
            </div>

            <div class="ui relaxed divided list">
                <div v-for="task in tasklist" class="item">
                    <div v-if="task.show" class="">
                        <div v-on:click="task.show=!task.show" class="right floated content">
                            <i class="remove icon"></i>
                        </div>
                        <a v-on:click="task.finish=!task.finish" v-if="task.finish" href="#">
                            <p style="font-size:14px;color:black;"><s>{{ task.content }}</s></p>
                        </a>
                        <a v-on:click="task.finish=!task.finish" v-else href="#">
                            <p style="font-size:14px;color:black;">{{ task.content }}</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <script type="text/javascript">
            var vm = new Vue({
                el:"#app",
                data:{
                    tasklist:[
                        {content:"整理明日计划",finish:false,show:true},
                        {content:"修改Bug",finish:false,show:true},
                        {content:"提交全栈课程的作业",finish:false,show:true},
                        {content:"分享学习笔记",finish:false,show:true},
                    ],
                    finish:false
                },
                methods:{
                    addTask:function(todo){
                        this.tasklist.push({content:todo,finish:false,show:true})
                    }
                }
            })
        </script>
    </body>
</html>
